XSLTest/XSLT/CHIXP/MMM/WS-SHINNY-MMM-Notification-1_3.wsdl

<?xml version="1.0" encoding="utf-8"?>

<wsdl:definitions name="WS-BaseNotification"
  targetNamespace="http://docs.oasis-open.org/wsn/bw-2"
  xmlns:wsntw="http://docs.oasis-open.org/wsn/bw-2"
  xmlns:wsnt="http://docs.oasis-open.org/wsn/b-2"
  xmlns:wsa="http://www.w3.org/2005/08/addressing" 
  xmlns:wsrf-rw="http://docs.oasis-open.org/wsrf/rw-2" 
  xmlns:wsrf-rlw="http://docs.oasis-open.org/wsrf/rlw-2" 
  xmlns:wsrf-rp="http://docs.oasis-open.org/wsrf/rp-2" 
  xmlns:wsrf-rpw="http://docs.oasis-open.org/wsrf/rpw-2" 
  xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
 
<!-- ========================== Imports =========================== --> 
    <wsdl:import
       namespace="http://docs.oasis-open.org/wsrf/rw-2" 
       location="http://docs.oasis-open.org/wsrf/rw-2.wsdl"/>
       
    <wsdl:import
       namespace="http://docs.oasis-open.org/wsrf/rlw-2" 
       location="http://docs.oasis-open.org/wsrf/rlw-2.wsdl"/>
       
    <wsdl:import
       namespace="http://docs.oasis-open.org/wsrf/rpw-2" 
       location="http://docs.oasis-open.org/wsrf/rpw-2.wsdl"/>
 
<!-- ===================== Types Definitions ====================== -->
    <wsdl:types>
        <xsd:schema>
            <xsd:import
         namespace="http://docs.oasis-open.org/wsn/b-2" 
         schemaLocation="/csp/CHIXP/MMM/WS-SHINNY-Notification-1_3.xsd"/>
            <xsd:import
         namespace="http://docs.oasis-open.org/wsrf/rp-2" 
         schemaLocation="http://docs.oasis-open.org/wsrf/rp-2.xsd"/>
        </xsd:schema>
    </wsdl:types>

<!-- ================ NotificationConsumer::Notify ================ 
  Notify(
    NotificationMessage
      (SubscriptionReference, TopicExpression, ProducerReference,
       Message)*
  returns: n/a (one way)
-->
    <wsdl:message name="OrchPDQNotification">
        <wsdl:part name="OrchPDQNotify" element="wsnt:OrchPDQNotify"/>
    </wsdl:message>
    <wsdl:message name="OrchRegNotification">
        <wsdl:part name="OrchRegNotify" element="wsnt:OrchRegNotify"/>
    </wsdl:message>
    <wsdl:message name="OrchReposNotification">
        <wsdl:part name="OrchReposNotify" element="wsnt:OrchReposNotify"/>
    </wsdl:message>
    <wsdl:message name="OrchNCPDPHistNotification">
        <wsdl:part name="OrchNCPDPHistNotify" element="wsnt:OrchNCPDPHistNotify"/>
    </wsdl:message>
    <wsdl:message name="OrchCCDHistNotification">
        <wsdl:part name="OrchCCDHistNotify" element="wsnt:OrchCCDHistNotify"/>
    </wsdl:message>
    <wsdl:message name="MedNCPDPHistNotification">
        <wsdl:part name="MedNCPDPHistNotify" element="wsnt:MedNCPDPHistNotify"/>
    </wsdl:message>
    <wsdl:message name="RxHubNCPDPHistNotification">
        <wsdl:part name="RxHubNCPDPHistNotify" element="wsnt:RxHubNCPDPHistNotify"/>
    </wsdl:message>
    <wsdl:message name="SSNCPDPHistNotification">
        <wsdl:part name="SSNCPDPHistNotify" element="wsnt:SSNCPDPHistNotify"/>
    </wsdl:message>
    <wsdl:message name="SSNCPDPERxNotification">
        <wsdl:part name="SSNCPDPERxNotify" element="wsnt:SSNCPDPERxNotify"/>
    </wsdl:message>
    <wsdl:message name="OrchX12EligNotification">
        <wsdl:part name="OrchX12EligNotify" element="wsnt:OrchX12EligNotify"/>
    </wsdl:message>
    <wsdl:message name="MedX12EligNotification">
        <wsdl:part name="MedX12EligNotify" element="wsnt:MedX12EligNotify"/>
    </wsdl:message>
    <wsdl:message name="RxHubX12EligNotification">
        <wsdl:part name="RxHubX12EligNotify" element="wsnt:RxHubX12EligNotify"/>
    </wsdl:message>
    <wsdl:message name="SSX12EligNotification">
        <wsdl:part name="SSX12EligNotify" element="wsnt:SSX12EligNotify"/>
    </wsdl:message>
    <wsdl:message name="OrchX12FormNotification">
        <wsdl:part name="OrchX12FormNotify" element="wsnt:OrchX12FormNotify"/>
    </wsdl:message>
    <wsdl:message name="MedX12FormNotification">
        <wsdl:part name="MedX12FormNotify" element="wsnt:MedX12FormNotify"/>
    </wsdl:message>
    <wsdl:message name="RxHubX12FormNotification">
        <wsdl:part name="RxHubX12FormNotify" element="wsnt:RxHubX12FormNotify"/>
    </wsdl:message>
    <wsdl:message name="SSX12FormNotification">
        <wsdl:part name="SSX12FormNotify" element="wsnt:SSX12FormNotify"/>
    </wsdl:message>
       
<!-- =================== PortType Definitions ===================== -->
<!-- ========= NotificationConsumer PortType Definition =========== -->
    <wsdl:portType name="NotificationConsumer">
        <wsdl:operation name="OrchPDQNotify">
            <wsdl:input wsa:Action="http://docs.oasis-open.org/wsn/bw-2/NotificationConsumer/OrchPDQNotifyRequest" message="wsntw:OrchPDQNotification" />
        </wsdl:operation>
        <wsdl:operation name="OrchRegNotify">
            <wsdl:input wsa:Action="http://docs.oasis-open.org/wsn/bw-2/NotificationConsumer/OrchRegNotifyRequest" message="wsntw:OrchRegNotification" />
        </wsdl:operation>
        <wsdl:operation name="OrchReposNotify">
            <wsdl:input wsa:Action="http://docs.oasis-open.org/wsn/bw-2/NotificationConsumer/OrchReposNotifyRequest" message="wsntw:OrchReposNotification" />
        </wsdl:operation>
        <wsdl:operation name="OrchNCPDPHistNotify">
            <wsdl:input wsa:Action="http://docs.oasis-open.org/wsn/bw-2/NotificationConsumer/OrchNCPDPHistNotifyRequest" message="wsntw:OrchNCPDPHistNotification" />
        </wsdl:operation>
        <wsdl:operation name="OrchCCDHistNotify">
            <wsdl:input wsa:Action="http://docs.oasis-open.org/wsn/bw-2/NotificationConsumer/OrchCCDHistNotifyRequest" message="wsntw:OrchCCDHistNotification" />
        </wsdl:operation>
        <wsdl:operation name="MedNCPDPHistNotify">
            <wsdl:input wsa:Action="http://docs.oasis-open.org/wsn/bw-2/NotificationConsumer/MedNCPDPHistNotifyRequest" message="wsntw:MedNCPDPHistNotification" />
        </wsdl:operation>
        <wsdl:operation name="RxHubNCPDPHistNotify">
            <wsdl:input wsa:Action="http://docs.oasis-open.org/wsn/bw-2/NotificationConsumer/RxHubNCPDPHistNotifyRequest" message="wsntw:RxHubNCPDPHistNotification" />
        </wsdl:operation>
        <wsdl:operation name="SSNCPDPHistNotify">
            <wsdl:input wsa:Action="http://docs.oasis-open.org/wsn/bw-2/NotificationConsumer/SSNCPDPHistNotifyRequest" message="wsntw:SSNCPDPHistNotification" />
        </wsdl:operation>
        <wsdl:operation name="SSNCPDPERxNotify">
            <wsdl:input wsa:Action="http://docs.oasis-open.org/wsn/bw-2/NotificationConsumer/SSNCPDPERxNotifyRequest" message="wsntw:SSNCPDPERxNotification" />
        </wsdl:operation>
        <wsdl:operation name="OrchX12EligNotify">
            <wsdl:input wsa:Action="http://docs.oasis-open.org/wsn/bw-2/NotificationConsumer/OrchX12EligNotifyRequest" message="wsntw:OrchX12EligNotification" />
        </wsdl:operation>
        <wsdl:operation name="MedX12EligNotify">
            <wsdl:input wsa:Action="http://docs.oasis-open.org/wsn/bw-2/NotificationConsumer/MedX12EligNotifyRequest" message="wsntw:MedX12EligNotification" />
        </wsdl:operation>
        <wsdl:operation name="RxHubX12EligNotify">
            <wsdl:input wsa:Action="http://docs.oasis-open.org/wsn/bw-2/NotificationConsumer/RxHubX12EligNotifyRequest" message="wsntw:RxHubX12EligNotification" />
        </wsdl:operation>
        <wsdl:operation name="SSX12EligNotify">
            <wsdl:input wsa:Action="http://docs.oasis-open.org/wsn/bw-2/NotificationConsumer/SSX12EligNotifyRequest" message="wsntw:SSX12EligNotification" />
        </wsdl:operation>
        <wsdl:operation name="OrchX12FormNotify">
            <wsdl:input wsa:Action="http://docs.oasis-open.org/wsn/bw-2/NotificationConsumer/OrchX12FormNotifyRequest" message="wsntw:OrchX12FormNotification" />
        </wsdl:operation>
        <wsdl:operation name="MedX12FormNotify">
            <wsdl:input wsa:Action="http://docs.oasis-open.org/wsn/bw-2/NotificationConsumer/MedX12FormNotifyRequest" message="wsntw:MedX12FormNotification" />
        </wsdl:operation>
        <wsdl:operation name="RxHubX12FormNotify">
            <wsdl:input wsa:Action="http://docs.oasis-open.org/wsn/bw-2/NotificationConsumer/RxHubX12FormNotifyRequest" message="wsntw:RxHubX12FormNotification" />
        </wsdl:operation>
        <wsdl:operation name="SSX12FormNotify">
            <wsdl:input wsa:Action="http://docs.oasis-open.org/wsn/bw-2/NotificationConsumer/SSX12FormNotifyRequest" message="wsntw:SSX12FormNotification" />
        </wsdl:operation>
    </wsdl:portType>
  
    <wsdl:binding name="NotificationConsumerBinding" type="wsntw:NotificationConsumer">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="OrchPDQNotify">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="OrchRegNotify">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="OrchReposNotify">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="OrchNCPDPHistNotify">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
          <wsdl:operation name="OrchCCDHistNotify">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="MedNCPDPHistNotify">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="RxHubNCPDPHistNotify">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="SSNCPDPHistNotify">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="SSNCPDPERxNotify">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="OrchX12EligNotify">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="MedX12EligNotify">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="RxHubX12EligNotify">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="SSX12EligNotify">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="OrchX12FormNotify">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="MedX12FormNotify">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="RxHubX12FormNotify">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="SSX12FormNotify">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>

    </wsdl:binding>
    <wsdl:service name="NotificationConsumer">
        <wsdl:port name="NotificationConsumerBindingPort" binding="wsntw:NotificationConsumerBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/NotificationConsumer/NotificationConsumerBindingPort"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
