XSLTest/XSLT/CHIXP/MMM/WS-SHINNY-MMM-Subscription-1_3.wsdl

<?xml version="1.0" encoding="utf-8"?>

<wsdl:definitions name="WS-BaseNotification"
  targetNamespace="http://docs.oasis-open.org/wsn/bw-2"
  xmlns:wsntw="http://docs.oasis-open.org/wsn/bw-2"
  xmlns:wsnt="http://docs.oasis-open.org/wsn/b-2"
  xmlns:wsa="http://www.w3.org/2005/08/addressing" 
  xmlns:wsrf-rw="http://docs.oasis-open.org/wsrf/rw-2" 
  xmlns:wsrf-rlw="http://docs.oasis-open.org/wsrf/rlw-2" 
  xmlns:wsrf-rp="http://docs.oasis-open.org/wsrf/rp-2" 
  xmlns:wsrf-rpw="http://docs.oasis-open.org/wsrf/rpw-2" 
  xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">

<!-- ========================== Imports =========================== -->
    <wsdl:import
       namespace="http://docs.oasis-open.org/wsrf/rw-2"
       location="http://docs.oasis-open.org/wsrf/rw-2.wsdl"/>

    <wsdl:import
       namespace="http://docs.oasis-open.org/wsrf/rlw-2"
       location="http://docs.oasis-open.org/wsrf/rlw-2.wsdl"/>

    <wsdl:import
       namespace="http://docs.oasis-open.org/wsrf/rpw-2"
       location="http://docs.oasis-open.org/wsrf/rpw-2.wsdl"/>

<!-- ===================== Types Definitions ====================== -->
    <wsdl:types>
        <xsd:schema>
            <xsd:import
         namespace="http://docs.oasis-open.org/wsn/b-2"
         schemaLocation="/csp/XSLT/CHIXP/MMM/WS-SHINNY-Subscription-1_3.xsd"/>
            <xsd:import
         namespace="http://docs.oasis-open.org/wsrf/rp-2"
         schemaLocation="http://docs.oasis-open.org/wsrf/rp-2.xsd"/>
        </xsd:schema>
    </wsdl:types>


<!-- ============== NotificationProducer::Subscribe ===============
  Subscribe(
   (ConsumerEndpointReference, [Filter], [SubscriptionPolicy],
   [InitialTerminationTime])
  returns: WS-Resource qualified EPR to a Subscription
-->


    <wsdl:message name="OrchPDQSubscribeRequest" >
        <wsdl:part name="OrchPDQSubscribeRequest"
                element="wsnt:OrchPDQSubscribe"/>
    </wsdl:message>
    <wsdl:message name="OrchRegistrySubscribeRequest" >
        <wsdl:part name="OrchRegistrySubscribeRequest"
                element="wsnt:OrchRegistrySubscribe"/>
    </wsdl:message>
    <wsdl:message name="OrchReposSubscribeRequest" >
        <wsdl:part name="OrchReposSubscribeRequest"
                element="wsnt:OrchReposSubscribe"/>
    </wsdl:message>


    <wsdl:message name="OrchNCPDPHistSubscribeRequest" >
        <wsdl:part name="OrchNCPDPHistSubscribeRequest"
                element="wsnt:OrchNCPDPHistSubscribe"/>
    </wsdl:message>

    <wsdl:message name="OrchCCDHistSubscribeRequest" >
        <wsdl:part name="OrchCCDHistSubscribeRequest"
                element="wsnt:OrchCCDHistSubscribe"/>
    </wsdl:message>

    <wsdl:message name="MedNCPDPHistSubscribeRequest" >
        <wsdl:part name="MedNCPDPHistSubscribeRequest"
                element="wsnt:MedNCPDPHistSubscribe"/>
    </wsdl:message>
    <wsdl:message name="RxHubNCPDPHistSubscribeRequest" >
        <wsdl:part name="RxHubNCPDPHistSubscribeRequest"
                element="wsnt:RxHubNCPDPHistSubscribe"/>
    </wsdl:message>
    <wsdl:message name="SSNCPDPHistSubscribeRequest" >
        <wsdl:part name="SSNCPDPHistSubscribeRequest"
                element="wsnt:SSNCPDPHistSubscribe"/>
    </wsdl:message>

    
    <wsdl:message name="SSNCPDPERxSubscribeRequest" >
        <wsdl:part name="SSNCPDPERxSubscribeRequest"
                element="wsnt:SSNCPDPERxSubscribe"/>
    </wsdl:message>

        <wsdl:message name="OrchX12EligSubscribeRequest" >
        <wsdl:part name="OrchX12EligSubscribeRequest"
                element="wsnt:OrchX12EligSubscribe"/>
    </wsdl:message>
    <wsdl:message name="MedX12EligSubscribeRequest" >
        <wsdl:part name="MedX12EligSubscribeRequest"
                element="wsnt:MedX12EligSubscribe"/>
    </wsdl:message>

    <wsdl:message name="RxHubX12EligSubscribeRequest" >
        <wsdl:part name="RxHubX12EligSubscribeRequest"
                element="wsnt:RxHubX12EligSubscribe"/>
    </wsdl:message>

    <wsdl:message name="SSX12EligSubscribeRequest" >
        <wsdl:part name="SSX12EligSubscribeRequest"
                element="wsnt:SSX12EligSubscribe"/>
    </wsdl:message>

    <wsdl:message name="OrchX12FormSubscribeRequest" >
        <wsdl:part name="OrchX12FormSubscribeRequest"
                element="wsnt:OrchX12FormSubscribe"/>
    </wsdl:message>

    <wsdl:message name="MedX12FormSubscribeRequest" >
        <wsdl:part name="MedX12FormSubscribeRequest"
                element="wsnt:MedX12FormSubscribe"/>
    </wsdl:message>

    <wsdl:message name="RxHubX12FormSubscribeRequest" >
        <wsdl:part name="RxHubX12FormSubscribeRequest"
                element="wsnt:RxHubX12FormSubscribe"/>
    </wsdl:message>

    <wsdl:message name="SSX12FormSubscribeRequest" >
        <wsdl:part name="SSX12FormSubscribeRequest"
                element="wsnt:SSX12FormSubscribe"/>
    </wsdl:message>



    <wsdl:message name="SubscribeResponse">
        <wsdl:part name="SubscribeResponse"
                 element="wsnt:SubscribeResponse"/>
    </wsdl:message>

    <wsdl:message name="SubscribeCreationFailedFault">
        <wsdl:part name="SubscribeCreationFailedFault"
            element="wsnt:SubscribeCreationFailedFault" />
    </wsdl:message>

    <wsdl:message name="TopicExpressionDialectUnknownFault">
        <wsdl:part name="TopicExpressionDialectUnknownFault"
            element="wsnt:TopicExpressionDialectUnknownFault" />
    </wsdl:message>

    <wsdl:message name="InvalidFilterFault">
        <wsdl:part name="InvalidFilterFault"
            element="wsnt:InvalidFilterFault" />
    </wsdl:message>

    <wsdl:message name="InvalidProducerPropertiesExpressionFault">
        <wsdl:part name="InvalidProducerPropertiesExpressionFault"
            element="wsnt:InvalidProducerPropertiesExpressionFault" />
    </wsdl:message>

    <wsdl:message name="InvalidMessageContentExpressionFault">
        <wsdl:part name="InvalidMessageContentExpressionFault"
            element="wsnt:InvalidMessageContentExpressionFault" />
    </wsdl:message>

    <wsdl:message name="UnrecognizedPolicyRequestFault">
        <wsdl:part name="UnrecognizedPolicyRequestFault"
            element="wsnt:UnrecognizedPolicyRequestFault" />
    </wsdl:message>

    <wsdl:message name="UnsupportedPolicyRequestFault">
        <wsdl:part name="UnsupportedPolicyRequestFault"
            element="wsnt:UnsupportedPolicyRequestFault" />
    </wsdl:message>

    <wsdl:message name="NotifyMessageNotSupportedFault">
        <wsdl:part name="NotifyMessageNotSupportedFault"
            element="wsnt:NotifyMessageNotSupportedFault" />
    </wsdl:message>

    <wsdl:message name="UnacceptableInitialTerminationTimeFault">
        <wsdl:part name="UnacceptableInitialTerminationTimeFault"
            element="wsnt:UnacceptableInitialTerminationTimeFault"/>
    </wsdl:message>

<!-- ========== NotificationProducer::GetCurrentMessage ===========
  GetCurrentMessage(topicExpression)
  returns: a NotificationMessage (xsd:any)
-->
    <wsdl:message name="GetCurrentMessageRequest">
        <wsdl:part name="GetCurrentMessageRequest"
            element="wsnt:GetCurrentMessage"/>
    </wsdl:message>

    <wsdl:message name="GetCurrentMessageResponse">
        <wsdl:part name="GetCurrentMessageResponse"
            element="wsnt:GetCurrentMessageResponse"/>
    </wsdl:message>

    <wsdl:message name="InvalidTopicExpressionFault">
        <wsdl:part name="InvalidTopicExpressionFault"
            element="wsnt:InvalidTopicExpressionFault" />
    </wsdl:message>

    <wsdl:message name="TopicNotSupportedFault">
        <wsdl:part name="TopicNotSupportedFault"
            element="wsnt:TopicNotSupportedFault" />
    </wsdl:message>

    <wsdl:message name="MultipleTopicsSpecifiedFault">
        <wsdl:part name="MultipleTopicsSpecifiedFault"
            element="wsnt:MultipleTopicsSpecifiedFault" />
    </wsdl:message>

    <wsdl:message name="NoCurrentMessageOnTopicFault">
        <wsdl:part name="NoCurrentMessageOnTopicFault"
            element="wsnt:NoCurrentMessageOnTopicFault" />
    </wsdl:message>

<!-- ========== PullPoint::GetMessages ===========
  GetMessages(MaximumNumber)
  returns: NotificationMessage list
-->
    <wsdl:message name="GetMessagesRequest">
        <wsdl:part name="GetMessagesRequest"
            element="wsnt:GetMessages"/>
    </wsdl:message>

    <wsdl:message name="GetMessagesResponse">
        <wsdl:part name="GetMessagesResponse"
            element="wsnt:GetMessagesResponse"/>
    </wsdl:message>

<!-- ========== PullPoint::DestroyPullPoint ===========
  DestroyPullPoint()
  returns: void
-->
    <wsdl:message name="DestroyPullPointRequest">
        <wsdl:part name="DestroyPullPointRequest"
            element="wsnt:DestroyPullPoint"/>
    </wsdl:message>

    <wsdl:message name="DestroyPullPointResponse">
        <wsdl:part name="DestroyPullPointResponse"
            element="wsnt:DestroyPullPointResponse"/>
    </wsdl:message>

    <wsdl:message name="UnableToDestroyPullPointFault">
        <wsdl:part name="UnableToDestroyPullPointFault"
            element="wsnt:UnableToDestroyPullPointFault"/>
    </wsdl:message>

<!-- ========== PullPoint::CreatePullPoint ===========
  CreatePullPoint()
  returns: PullPoint (wsa:EndpointReference)
-->
    <wsdl:message name="CreatePullPointRequest">
        <wsdl:part name="CreatePullPointRequest"
            element="wsnt:CreatePullPoint"/>
    </wsdl:message>

    <wsdl:message name="CreatePullPointResponse">
        <wsdl:part name="CreatePullPointResponse"
            element="wsnt:CreatePullPointResponse"/>
    </wsdl:message>

    <wsdl:message name="UnableToCreatePullPointFault">
        <wsdl:part name="UnableToCreatePullPointFault"
            element="wsnt:UnableToCreatePullPointFault"/>
    </wsdl:message>

<!-- ================ SubscriptionManager::Renew ==================
   Renew( Duration | AbsoluteTime)
   returns: (New Termination Time [CurrentTime])
-->
    <wsdl:message name="RenewRequest">
        <wsdl:part name="RenewRequest"
                 element="wsnt:Renew"/>
    </wsdl:message>

    <wsdl:message name="RenewResponse">
        <wsdl:part name="RenewResponse"
                 element="wsnt:RenewResponse"/>
    </wsdl:message>

    <wsdl:message name="UnacceptableTerminationTimeFault">
        <wsdl:part name="UnacceptableTerminationTimeFault"
            element="wsnt:UnacceptableTerminationTimeFault" />
    </wsdl:message>

<!-- ============== SubscriptionManager::Unsubscribe ===============
   Unsubscribe()
   returns: empty
-->
    <wsdl:message name="UnsubscribeRequest">
        <wsdl:part name="UnsubscribeRequest"
                 element="wsnt:Unsubscribe"/>
    </wsdl:message>

    <wsdl:message name="UnsubscribeResponse">
        <wsdl:part name="UnsubscribeResponse"
                 element="wsnt:UnsubscribeResponse"/>
    </wsdl:message>

    <wsdl:message name="UnableToDestroySubscriptionFault">
        <wsdl:part name="UnableToDestroySubscriptionFault"
            element="wsnt:UnableToDestroySubscriptionFault" />
    </wsdl:message>

<!-- ========== SubscriptionManager::PauseSubscription ============
   PauseSubscription()
   returns: empty
-->
    <wsdl:message name="PauseSubscriptionRequest">
        <wsdl:part name="PauseSubscriptionRequest"
                 element="wsnt:PauseSubscription"/>
    </wsdl:message>

    <wsdl:message name="PauseSubscriptionResponse">
        <wsdl:part name="PauseSubscriptionResponse"
                 element="wsnt:PauseSubscriptionResponse"/>
    </wsdl:message>

    <wsdl:message name="PauseFailedFault">
        <wsdl:part name="PauseFailedFault"
            element="wsnt:PauseFailedFault" />
    </wsdl:message>

<!-- ========= SubscriptionManager::ResumeSubscription ============
   ResumeSubscription()
   returns: empty
-->
    <wsdl:message name="ResumeSubscriptionRequest">
        <wsdl:part name="ResumeSubscriptionRequest"
                 element="wsnt:ResumeSubscription"/>
    </wsdl:message>

    <wsdl:message name="ResumeSubscriptionResponse">
        <wsdl:part name="ResumeSubscriptionResponse"
                 element="wsnt:ResumeSubscriptionResponse"/>
    </wsdl:message>

    <wsdl:message name="ResumeFailedFault">
        <wsdl:part name="ResumeFailedFault"
            element="wsnt:ResumeFailedFault" />
    </wsdl:message>

<!-- =================== PortType Definitions ===================== -->


<!-- ========= NotificationProducer PortType Definition =========== -->
    <wsdl:portType name="NotificationProducer">


        <wsdl:operation name="OrchPDQSubscribe">
            <wsdl:input  wsa:Action="http://docs.oasis-open.org/wsn/bw-2/NotificationProducer/OrchPDQSubscribeRequest"
			          message="wsntw:OrchPDQSubscribeRequest" />
            <wsdl:output wsa:Action="http://docs.oasis-open.org/wsn/bw-2/NotificationProducer/SubscribeResponse"
			          message="wsntw:SubscribeResponse" />
            <wsdl:fault  name="ResourceUnknownFault"
                      message="wsrf-rw:ResourceUnknownFault" />
            <wsdl:fault  name="InvalidFilterFault"
                   message="wsntw:InvalidFilterFault"/>
            <wsdl:fault  name="TopicExpressionDialectUnknownFault"
                   message="wsntw:TopicExpressionDialectUnknownFault"/>
            <wsdl:fault  name="InvalidTopicExpressionFault"
                      message="wsntw:InvalidTopicExpressionFault" />
            <wsdl:fault  name="TopicNotSupportedFault"
                      message="wsntw:TopicNotSupportedFault" />
            <wsdl:fault  name="InvalidProducerPropertiesExpressionFault"
             message="wsntw:InvalidProducerPropertiesExpressionFault"/>
            <wsdl:fault  name="InvalidMessageContentExpressionFault"
             message="wsntw:InvalidMessageContentExpressionFault"/>
            <wsdl:fault  name="UnacceptableInitialTerminationTimeFault"
             message="wsntw:UnacceptableInitialTerminationTimeFault"/>
            <wsdl:fault  name="UnrecognizedPolicyRequestFault"
             message="wsntw:UnrecognizedPolicyRequestFault"/>
            <wsdl:fault  name="UnsupportedPolicyRequestFault"
             message="wsntw:UnsupportedPolicyRequestFault"/>
            <wsdl:fault  name="NotifyMessageNotSupportedFault"
             message="wsntw:NotifyMessageNotSupportedFault"/>
            <wsdl:fault  name="SubscribeCreationFailedFault"
                      message="wsntw:SubscribeCreationFailedFault"/>
        </wsdl:operation>

        <wsdl:operation name="OrchRegistrySubscribe">
            <wsdl:input  wsa:Action="http://docs.oasis-open.org/wsn/bw-2/NotificationProducer/OrchRegistrySubscribeRequest"
			          message="wsntw:OrchRegistrySubscribeRequest" />
            <wsdl:output wsa:Action="http://docs.oasis-open.org/wsn/bw-2/NotificationProducer/SubscribeResponse"
			          message="wsntw:SubscribeResponse" />
            <wsdl:fault  name="ResourceUnknownFault"
                      message="wsrf-rw:ResourceUnknownFault" />
            <wsdl:fault  name="InvalidFilterFault"
                   message="wsntw:InvalidFilterFault"/>
            <wsdl:fault  name="TopicExpressionDialectUnknownFault"
                   message="wsntw:TopicExpressionDialectUnknownFault"/>
            <wsdl:fault  name="InvalidTopicExpressionFault"
                      message="wsntw:InvalidTopicExpressionFault" />
            <wsdl:fault  name="TopicNotSupportedFault"
                      message="wsntw:TopicNotSupportedFault" />
            <wsdl:fault  name="InvalidProducerPropertiesExpressionFault"
             message="wsntw:InvalidProducerPropertiesExpressionFault"/>
            <wsdl:fault  name="InvalidMessageContentExpressionFault"
             message="wsntw:InvalidMessageContentExpressionFault"/>
            <wsdl:fault  name="UnacceptableInitialTerminationTimeFault"
             message="wsntw:UnacceptableInitialTerminationTimeFault"/>
            <wsdl:fault  name="UnrecognizedPolicyRequestFault"
             message="wsntw:UnrecognizedPolicyRequestFault"/>
            <wsdl:fault  name="UnsupportedPolicyRequestFault"
             message="wsntw:UnsupportedPolicyRequestFault"/>
            <wsdl:fault  name="NotifyMessageNotSupportedFault"
             message="wsntw:NotifyMessageNotSupportedFault"/>
            <wsdl:fault  name="SubscribeCreationFailedFault"
                      message="wsntw:SubscribeCreationFailedFault"/>
        </wsdl:operation>

        <wsdl:operation name="OrchReposSubscribe">
            <wsdl:input  wsa:Action="http://docs.oasis-open.org/wsn/bw-2/NotificationProducer/OrchReposSubscribeRequest"
			          message="wsntw:OrchReposSubscribeRequest" />
            <wsdl:output wsa:Action="http://docs.oasis-open.org/wsn/bw-2/NotificationProducer/SubscribeResponse"
			          message="wsntw:SubscribeResponse" />
            <wsdl:fault  name="ResourceUnknownFault"
                      message="wsrf-rw:ResourceUnknownFault" />
            <wsdl:fault  name="InvalidFilterFault"
                   message="wsntw:InvalidFilterFault"/>
            <wsdl:fault  name="TopicExpressionDialectUnknownFault"
                   message="wsntw:TopicExpressionDialectUnknownFault"/>
            <wsdl:fault  name="InvalidTopicExpressionFault"
                      message="wsntw:InvalidTopicExpressionFault" />
            <wsdl:fault  name="TopicNotSupportedFault"
                      message="wsntw:TopicNotSupportedFault" />
            <wsdl:fault  name="InvalidProducerPropertiesExpressionFault"
             message="wsntw:InvalidProducerPropertiesExpressionFault"/>
            <wsdl:fault  name="InvalidMessageContentExpressionFault"
             message="wsntw:InvalidMessageContentExpressionFault"/>
            <wsdl:fault  name="UnacceptableInitialTerminationTimeFault"
             message="wsntw:UnacceptableInitialTerminationTimeFault"/>
            <wsdl:fault  name="UnrecognizedPolicyRequestFault"
             message="wsntw:UnrecognizedPolicyRequestFault"/>
            <wsdl:fault  name="UnsupportedPolicyRequestFault"
             message="wsntw:UnsupportedPolicyRequestFault"/>
            <wsdl:fault  name="NotifyMessageNotSupportedFault"
             message="wsntw:NotifyMessageNotSupportedFault"/>
            <wsdl:fault  name="SubscribeCreationFailedFault"
                      message="wsntw:SubscribeCreationFailedFault"/>
        </wsdl:operation>

        <wsdl:operation name="MedNCPDPHistSubscribe">
            <wsdl:input  wsa:Action="http://docs.oasis-open.org/wsn/bw-2/NotificationProducer/MedNCPDPHistSubscribeRequest"
			          message="wsntw:MedNCPDPHistSubscribeRequest" />
            <wsdl:output wsa:Action="http://docs.oasis-open.org/wsn/bw-2/NotificationProducer/SubscribeResponse"
			          message="wsntw:SubscribeResponse" />
            <wsdl:fault  name="ResourceUnknownFault"
                      message="wsrf-rw:ResourceUnknownFault" />
            <wsdl:fault  name="InvalidFilterFault"
                   message="wsntw:InvalidFilterFault"/>
            <wsdl:fault  name="TopicExpressionDialectUnknownFault"
                   message="wsntw:TopicExpressionDialectUnknownFault"/>
            <wsdl:fault  name="InvalidTopicExpressionFault"
                      message="wsntw:InvalidTopicExpressionFault" />
            <wsdl:fault  name="TopicNotSupportedFault"
                      message="wsntw:TopicNotSupportedFault" />
            <wsdl:fault  name="InvalidProducerPropertiesExpressionFault"
             message="wsntw:InvalidProducerPropertiesExpressionFault"/>
            <wsdl:fault  name="InvalidMessageContentExpressionFault"
             message="wsntw:InvalidMessageContentExpressionFault"/>
            <wsdl:fault  name="UnacceptableInitialTerminationTimeFault"
             message="wsntw:UnacceptableInitialTerminationTimeFault"/>
            <wsdl:fault  name="UnrecognizedPolicyRequestFault"
             message="wsntw:UnrecognizedPolicyRequestFault"/>
            <wsdl:fault  name="UnsupportedPolicyRequestFault"
             message="wsntw:UnsupportedPolicyRequestFault"/>
            <wsdl:fault  name="NotifyMessageNotSupportedFault"
             message="wsntw:NotifyMessageNotSupportedFault"/>
            <wsdl:fault  name="SubscribeCreationFailedFault"
                      message="wsntw:SubscribeCreationFailedFault"/>
        </wsdl:operation>

         <wsdl:operation name="OrchNCPDPHistSubscribe">
            <wsdl:input  wsa:Action="http://docs.oasis-open.org/wsn/bw-2/NotificationProducer/OrchNCPDPHistSubscribeRequest"
			          message="wsntw:OrchNCPDPHistSubscribeRequest" />
            <wsdl:output wsa:Action="http://docs.oasis-open.org/wsn/bw-2/NotificationProducer/SubscribeResponse"
			          message="wsntw:SubscribeResponse" />
            <wsdl:fault  name="ResourceUnknownFault"
                      message="wsrf-rw:ResourceUnknownFault" />
            <wsdl:fault  name="InvalidFilterFault"
                   message="wsntw:InvalidFilterFault"/>
            <wsdl:fault  name="TopicExpressionDialectUnknownFault"
                   message="wsntw:TopicExpressionDialectUnknownFault"/>
            <wsdl:fault  name="InvalidTopicExpressionFault"
                      message="wsntw:InvalidTopicExpressionFault" />
            <wsdl:fault  name="TopicNotSupportedFault"
                      message="wsntw:TopicNotSupportedFault" />
            <wsdl:fault  name="InvalidProducerPropertiesExpressionFault"
             message="wsntw:InvalidProducerPropertiesExpressionFault"/>
            <wsdl:fault  name="InvalidMessageContentExpressionFault"
             message="wsntw:InvalidMessageContentExpressionFault"/>
            <wsdl:fault  name="UnacceptableInitialTerminationTimeFault"
             message="wsntw:UnacceptableInitialTerminationTimeFault"/>
            <wsdl:fault  name="UnrecognizedPolicyRequestFault"
             message="wsntw:UnrecognizedPolicyRequestFault"/>
            <wsdl:fault  name="UnsupportedPolicyRequestFault"
             message="wsntw:UnsupportedPolicyRequestFault"/>
            <wsdl:fault  name="NotifyMessageNotSupportedFault"
             message="wsntw:NotifyMessageNotSupportedFault"/>
            <wsdl:fault  name="SubscribeCreationFailedFault"
                      message="wsntw:SubscribeCreationFailedFault"/>
        </wsdl:operation>

        <wsdl:operation name="OrchCCDHistSubscribe">
            <wsdl:input  wsa:Action="http://docs.oasis-open.org/wsn/bw-2/NotificationProducer/OrchCCDHistSubscribeRequest"
			          message="wsntw:OrchCCDHistSubscribeRequest" />
            <wsdl:output wsa:Action="http://docs.oasis-open.org/wsn/bw-2/NotificationProducer/SubscribeResponse"
			          message="wsntw:SubscribeResponse" />
            <wsdl:fault  name="ResourceUnknownFault"
                      message="wsrf-rw:ResourceUnknownFault" />
            <wsdl:fault  name="InvalidFilterFault"
                   message="wsntw:InvalidFilterFault"/>
            <wsdl:fault  name="TopicExpressionDialectUnknownFault"
                   message="wsntw:TopicExpressionDialectUnknownFault"/>
            <wsdl:fault  name="InvalidTopicExpressionFault"
                      message="wsntw:InvalidTopicExpressionFault" />
            <wsdl:fault  name="TopicNotSupportedFault"
                      message="wsntw:TopicNotSupportedFault" />
            <wsdl:fault  name="InvalidProducerPropertiesExpressionFault"
             message="wsntw:InvalidProducerPropertiesExpressionFault"/>
            <wsdl:fault  name="InvalidMessageContentExpressionFault"
             message="wsntw:InvalidMessageContentExpressionFault"/>
            <wsdl:fault  name="UnacceptableInitialTerminationTimeFault"
             message="wsntw:UnacceptableInitialTerminationTimeFault"/>
            <wsdl:fault  name="UnrecognizedPolicyRequestFault"
             message="wsntw:UnrecognizedPolicyRequestFault"/>
            <wsdl:fault  name="UnsupportedPolicyRequestFault"
             message="wsntw:UnsupportedPolicyRequestFault"/>
            <wsdl:fault  name="NotifyMessageNotSupportedFault"
             message="wsntw:NotifyMessageNotSupportedFault"/>
            <wsdl:fault  name="SubscribeCreationFailedFault"
                      message="wsntw:SubscribeCreationFailedFault"/>
        </wsdl:operation>

        <wsdl:operation name="RxHubNCPDPHistSubscribe">
            <wsdl:input  wsa:Action="http://docs.oasis-open.org/wsn/bw-2/NotificationProducer/RxHubNCPDPHistSubscribeRequest"
			          message="wsntw:RxHubNCPDPHistSubscribeRequest" />
            <wsdl:output wsa:Action="http://docs.oasis-open.org/wsn/bw-2/NotificationProducer/SubscribeResponse"
			          message="wsntw:SubscribeResponse" />
            <wsdl:fault  name="ResourceUnknownFault"
                      message="wsrf-rw:ResourceUnknownFault" />
            <wsdl:fault  name="InvalidFilterFault"
                   message="wsntw:InvalidFilterFault"/>
            <wsdl:fault  name="TopicExpressionDialectUnknownFault"
                   message="wsntw:TopicExpressionDialectUnknownFault"/>
            <wsdl:fault  name="InvalidTopicExpressionFault"
                      message="wsntw:InvalidTopicExpressionFault" />
            <wsdl:fault  name="TopicNotSupportedFault"
                      message="wsntw:TopicNotSupportedFault" />
            <wsdl:fault  name="InvalidProducerPropertiesExpressionFault"
             message="wsntw:InvalidProducerPropertiesExpressionFault"/>
            <wsdl:fault  name="InvalidMessageContentExpressionFault"
             message="wsntw:InvalidMessageContentExpressionFault"/>
            <wsdl:fault  name="UnacceptableInitialTerminationTimeFault"
             message="wsntw:UnacceptableInitialTerminationTimeFault"/>
            <wsdl:fault  name="UnrecognizedPolicyRequestFault"
             message="wsntw:UnrecognizedPolicyRequestFault"/>
            <wsdl:fault  name="UnsupportedPolicyRequestFault"
             message="wsntw:UnsupportedPolicyRequestFault"/>
            <wsdl:fault  name="NotifyMessageNotSupportedFault"
             message="wsntw:NotifyMessageNotSupportedFault"/>
            <wsdl:fault  name="SubscribeCreationFailedFault"
                      message="wsntw:SubscribeCreationFailedFault"/>
        </wsdl:operation>

        <wsdl:operation name="SSNCPDPHistSubscribe">
            <wsdl:input  wsa:Action="http://docs.oasis-open.org/wsn/bw-2/NotificationProducer/SSNCPDPHistSubscribeRequest"
			          message="wsntw:SSNCPDPHistSubscribeRequest" />
            <wsdl:output wsa:Action="http://docs.oasis-open.org/wsn/bw-2/NotificationProducer/SubscribeResponse"
			          message="wsntw:SubscribeResponse" />
            <wsdl:fault  name="ResourceUnknownFault"
                      message="wsrf-rw:ResourceUnknownFault" />
            <wsdl:fault  name="InvalidFilterFault"
                   message="wsntw:InvalidFilterFault"/>
            <wsdl:fault  name="TopicExpressionDialectUnknownFault"
                   message="wsntw:TopicExpressionDialectUnknownFault"/>
            <wsdl:fault  name="InvalidTopicExpressionFault"
                      message="wsntw:InvalidTopicExpressionFault" />
            <wsdl:fault  name="TopicNotSupportedFault"
                      message="wsntw:TopicNotSupportedFault" />
            <wsdl:fault  name="InvalidProducerPropertiesExpressionFault"
             message="wsntw:InvalidProducerPropertiesExpressionFault"/>
            <wsdl:fault  name="InvalidMessageContentExpressionFault"
             message="wsntw:InvalidMessageContentExpressionFault"/>
            <wsdl:fault  name="UnacceptableInitialTerminationTimeFault"
             message="wsntw:UnacceptableInitialTerminationTimeFault"/>
            <wsdl:fault  name="UnrecognizedPolicyRequestFault"
             message="wsntw:UnrecognizedPolicyRequestFault"/>
            <wsdl:fault  name="UnsupportedPolicyRequestFault"
             message="wsntw:UnsupportedPolicyRequestFault"/>
            <wsdl:fault  name="NotifyMessageNotSupportedFault"
             message="wsntw:NotifyMessageNotSupportedFault"/>
            <wsdl:fault  name="SubscribeCreationFailedFault"
                      message="wsntw:SubscribeCreationFailedFault"/>
        </wsdl:operation>

      
        

        <wsdl:operation name="SSNCPDPERxSubscribe">
            <wsdl:input  wsa:Action="http://docs.oasis-open.org/wsn/bw-2/NotificationProducer/SSNCPDPERxSubscribeRequest"
			          message="wsntw:SSNCPDPERxSubscribeRequest" />
            <wsdl:output wsa:Action="http://docs.oasis-open.org/wsn/bw-2/NotificationProducer/SubscribeResponse"
			          message="wsntw:SubscribeResponse" />
            <wsdl:fault  name="ResourceUnknownFault"
                      message="wsrf-rw:ResourceUnknownFault" />
            <wsdl:fault  name="InvalidFilterFault"
                   message="wsntw:InvalidFilterFault"/>
            <wsdl:fault  name="TopicExpressionDialectUnknownFault"
                   message="wsntw:TopicExpressionDialectUnknownFault"/>
            <wsdl:fault  name="InvalidTopicExpressionFault"
                      message="wsntw:InvalidTopicExpressionFault" />
            <wsdl:fault  name="TopicNotSupportedFault"
                      message="wsntw:TopicNotSupportedFault" />
            <wsdl:fault  name="InvalidProducerPropertiesExpressionFault"
             message="wsntw:InvalidProducerPropertiesExpressionFault"/>
            <wsdl:fault  name="InvalidMessageContentExpressionFault"
             message="wsntw:InvalidMessageContentExpressionFault"/>
            <wsdl:fault  name="UnacceptableInitialTerminationTimeFault"
             message="wsntw:UnacceptableInitialTerminationTimeFault"/>
            <wsdl:fault  name="UnrecognizedPolicyRequestFault"
             message="wsntw:UnrecognizedPolicyRequestFault"/>
            <wsdl:fault  name="UnsupportedPolicyRequestFault"
             message="wsntw:UnsupportedPolicyRequestFault"/>
            <wsdl:fault  name="NotifyMessageNotSupportedFault"
             message="wsntw:NotifyMessageNotSupportedFault"/>
            <wsdl:fault  name="SubscribeCreationFailedFault"
                      message="wsntw:SubscribeCreationFailedFault"/>
        </wsdl:operation>

        <wsdl:operation name="MedX12EligSubscribe">
            <wsdl:input  wsa:Action="http://docs.oasis-open.org/wsn/bw-2/NotificationProducer/MedX12EligSubscribeRequest"
			          message="wsntw:MedX12EligSubscribeRequest" />
            <wsdl:output wsa:Action="http://docs.oasis-open.org/wsn/bw-2/NotificationProducer/SubscribeResponse"
			          message="wsntw:SubscribeResponse" />
            <wsdl:fault  name="ResourceUnknownFault"
                      message="wsrf-rw:ResourceUnknownFault" />
            <wsdl:fault  name="InvalidFilterFault"
                   message="wsntw:InvalidFilterFault"/>
            <wsdl:fault  name="TopicExpressionDialectUnknownFault"
                   message="wsntw:TopicExpressionDialectUnknownFault"/>
            <wsdl:fault  name="InvalidTopicExpressionFault"
                      message="wsntw:InvalidTopicExpressionFault" />
            <wsdl:fault  name="TopicNotSupportedFault"
                      message="wsntw:TopicNotSupportedFault" />
            <wsdl:fault  name="InvalidProducerPropertiesExpressionFault"
             message="wsntw:InvalidProducerPropertiesExpressionFault"/>
            <wsdl:fault  name="InvalidMessageContentExpressionFault"
             message="wsntw:InvalidMessageContentExpressionFault"/>
            <wsdl:fault  name="UnacceptableInitialTerminationTimeFault"
             message="wsntw:UnacceptableInitialTerminationTimeFault"/>
            <wsdl:fault  name="UnrecognizedPolicyRequestFault"
             message="wsntw:UnrecognizedPolicyRequestFault"/>
            <wsdl:fault  name="UnsupportedPolicyRequestFault"
             message="wsntw:UnsupportedPolicyRequestFault"/>
            <wsdl:fault  name="NotifyMessageNotSupportedFault"
             message="wsntw:NotifyMessageNotSupportedFault"/>
            <wsdl:fault  name="SubscribeCreationFailedFault"
                      message="wsntw:SubscribeCreationFailedFault"/>
        </wsdl:operation>

         <wsdl:operation name="OrchX12EligSubscribe">
            <wsdl:input  wsa:Action="http://docs.oasis-open.org/wsn/bw-2/NotificationProducer/OrchX12EligSubscribeRequest"
			          message="wsntw:OrchX12EligSubscribeRequest" />
            <wsdl:output wsa:Action="http://docs.oasis-open.org/wsn/bw-2/NotificationProducer/SubscribeResponse"
			          message="wsntw:SubscribeResponse" />
            <wsdl:fault  name="ResourceUnknownFault"
                      message="wsrf-rw:ResourceUnknownFault" />
            <wsdl:fault  name="InvalidFilterFault"
                   message="wsntw:InvalidFilterFault"/>
            <wsdl:fault  name="TopicExpressionDialectUnknownFault"
                   message="wsntw:TopicExpressionDialectUnknownFault"/>
            <wsdl:fault  name="InvalidTopicExpressionFault"
                      message="wsntw:InvalidTopicExpressionFault" />
            <wsdl:fault  name="TopicNotSupportedFault"
                      message="wsntw:TopicNotSupportedFault" />
            <wsdl:fault  name="InvalidProducerPropertiesExpressionFault"
             message="wsntw:InvalidProducerPropertiesExpressionFault"/>
            <wsdl:fault  name="InvalidMessageContentExpressionFault"
             message="wsntw:InvalidMessageContentExpressionFault"/>
            <wsdl:fault  name="UnacceptableInitialTerminationTimeFault"
             message="wsntw:UnacceptableInitialTerminationTimeFault"/>
            <wsdl:fault  name="UnrecognizedPolicyRequestFault"
             message="wsntw:UnrecognizedPolicyRequestFault"/>
            <wsdl:fault  name="UnsupportedPolicyRequestFault"
             message="wsntw:UnsupportedPolicyRequestFault"/>
            <wsdl:fault  name="NotifyMessageNotSupportedFault"
             message="wsntw:NotifyMessageNotSupportedFault"/>
            <wsdl:fault  name="SubscribeCreationFailedFault"
                      message="wsntw:SubscribeCreationFailedFault"/>
        </wsdl:operation>

        <wsdl:operation name="RxHubX12EligSubscribe">
            <wsdl:input  wsa:Action="http://docs.oasis-open.org/wsn/bw-2/NotificationProducer/RxHubX12EligSubscribeRequest"
			          message="wsntw:RxHubX12EligSubscribeRequest" />
            <wsdl:output wsa:Action="http://docs.oasis-open.org/wsn/bw-2/NotificationProducer/SubscribeResponse"
			          message="wsntw:SubscribeResponse" />
            <wsdl:fault  name="ResourceUnknownFault"
                      message="wsrf-rw:ResourceUnknownFault" />
            <wsdl:fault  name="InvalidFilterFault"
                   message="wsntw:InvalidFilterFault"/>
            <wsdl:fault  name="TopicExpressionDialectUnknownFault"
                   message="wsntw:TopicExpressionDialectUnknownFault"/>
            <wsdl:fault  name="InvalidTopicExpressionFault"
                      message="wsntw:InvalidTopicExpressionFault" />
            <wsdl:fault  name="TopicNotSupportedFault"
                      message="wsntw:TopicNotSupportedFault" />
            <wsdl:fault  name="InvalidProducerPropertiesExpressionFault"
             message="wsntw:InvalidProducerPropertiesExpressionFault"/>
            <wsdl:fault  name="InvalidMessageContentExpressionFault"
             message="wsntw:InvalidMessageContentExpressionFault"/>
            <wsdl:fault  name="UnacceptableInitialTerminationTimeFault"
             message="wsntw:UnacceptableInitialTerminationTimeFault"/>
            <wsdl:fault  name="UnrecognizedPolicyRequestFault"
             message="wsntw:UnrecognizedPolicyRequestFault"/>
            <wsdl:fault  name="UnsupportedPolicyRequestFault"
             message="wsntw:UnsupportedPolicyRequestFault"/>
            <wsdl:fault  name="NotifyMessageNotSupportedFault"
             message="wsntw:NotifyMessageNotSupportedFault"/>
            <wsdl:fault  name="SubscribeCreationFailedFault"
                      message="wsntw:SubscribeCreationFailedFault"/>
        </wsdl:operation>

        <wsdl:operation name="SSX12EligSubscribe">
            <wsdl:input  wsa:Action="http://docs.oasis-open.org/wsn/bw-2/NotificationProducer/SSX12EligSubscribeRequest"
			          message="wsntw:SSX12EligSubscribeRequest" />
            <wsdl:output wsa:Action="http://docs.oasis-open.org/wsn/bw-2/NotificationProducer/SubscribeResponse"
			          message="wsntw:SubscribeResponse" />
            <wsdl:fault  name="ResourceUnknownFault"
                      message="wsrf-rw:ResourceUnknownFault" />
            <wsdl:fault  name="InvalidFilterFault"
                   message="wsntw:InvalidFilterFault"/>
            <wsdl:fault  name="TopicExpressionDialectUnknownFault"
                   message="wsntw:TopicExpressionDialectUnknownFault"/>
            <wsdl:fault  name="InvalidTopicExpressionFault"
                      message="wsntw:InvalidTopicExpressionFault" />
            <wsdl:fault  name="TopicNotSupportedFault"
                      message="wsntw:TopicNotSupportedFault" />
            <wsdl:fault  name="InvalidProducerPropertiesExpressionFault"
             message="wsntw:InvalidProducerPropertiesExpressionFault"/>
            <wsdl:fault  name="InvalidMessageContentExpressionFault"
             message="wsntw:InvalidMessageContentExpressionFault"/>
            <wsdl:fault  name="UnacceptableInitialTerminationTimeFault"
             message="wsntw:UnacceptableInitialTerminationTimeFault"/>
            <wsdl:fault  name="UnrecognizedPolicyRequestFault"
             message="wsntw:UnrecognizedPolicyRequestFault"/>
            <wsdl:fault  name="UnsupportedPolicyRequestFault"
             message="wsntw:UnsupportedPolicyRequestFault"/>
            <wsdl:fault  name="NotifyMessageNotSupportedFault"
             message="wsntw:NotifyMessageNotSupportedFault"/>
            <wsdl:fault  name="SubscribeCreationFailedFault"
                      message="wsntw:SubscribeCreationFailedFault"/>
        </wsdl:operation>

        <wsdl:operation name="MedX12FormSubscribe">
            <wsdl:input  wsa:Action="http://docs.oasis-open.org/wsn/bw-2/NotificationProducer/MedX12FormSubscribeRequest"
			          message="wsntw:MedX12FormSubscribeRequest" />
            <wsdl:output wsa:Action="http://docs.oasis-open.org/wsn/bw-2/NotificationProducer/SubscribeResponse"
			          message="wsntw:SubscribeResponse" />
            <wsdl:fault  name="ResourceUnknownFault"
                      message="wsrf-rw:ResourceUnknownFault" />
            <wsdl:fault  name="InvalidFilterFault"
                   message="wsntw:InvalidFilterFault"/>
            <wsdl:fault  name="TopicExpressionDialectUnknownFault"
                   message="wsntw:TopicExpressionDialectUnknownFault"/>
            <wsdl:fault  name="InvalidTopicExpressionFault"
                      message="wsntw:InvalidTopicExpressionFault" />
            <wsdl:fault  name="TopicNotSupportedFault"
                      message="wsntw:TopicNotSupportedFault" />
            <wsdl:fault  name="InvalidProducerPropertiesExpressionFault"
             message="wsntw:InvalidProducerPropertiesExpressionFault"/>
            <wsdl:fault  name="InvalidMessageContentExpressionFault"
             message="wsntw:InvalidMessageContentExpressionFault"/>
            <wsdl:fault  name="UnacceptableInitialTerminationTimeFault"
             message="wsntw:UnacceptableInitialTerminationTimeFault"/>
            <wsdl:fault  name="UnrecognizedPolicyRequestFault"
             message="wsntw:UnrecognizedPolicyRequestFault"/>
            <wsdl:fault  name="UnsupportedPolicyRequestFault"
             message="wsntw:UnsupportedPolicyRequestFault"/>
            <wsdl:fault  name="NotifyMessageNotSupportedFault"
             message="wsntw:NotifyMessageNotSupportedFault"/>
            <wsdl:fault  name="SubscribeCreationFailedFault"
                      message="wsntw:SubscribeCreationFailedFault"/>
        </wsdl:operation>

 <wsdl:operation name="OrchX12FormSubscribe">
            <wsdl:input  wsa:Action="http://docs.oasis-open.org/wsn/bw-2/NotificationProducer/OrchX12FormSubscribeRequest"
			          message="wsntw:OrchX12FormSubscribeRequest" />
            <wsdl:output wsa:Action="http://docs.oasis-open.org/wsn/bw-2/NotificationProducer/SubscribeResponse"
			          message="wsntw:SubscribeResponse" />
            <wsdl:fault  name="ResourceUnknownFault"
                      message="wsrf-rw:ResourceUnknownFault" />
            <wsdl:fault  name="InvalidFilterFault"
                   message="wsntw:InvalidFilterFault"/>
            <wsdl:fault  name="TopicExpressionDialectUnknownFault"
                   message="wsntw:TopicExpressionDialectUnknownFault"/>
            <wsdl:fault  name="InvalidTopicExpressionFault"
                      message="wsntw:InvalidTopicExpressionFault" />
            <wsdl:fault  name="TopicNotSupportedFault"
                      message="wsntw:TopicNotSupportedFault" />
            <wsdl:fault  name="InvalidProducerPropertiesExpressionFault"
             message="wsntw:InvalidProducerPropertiesExpressionFault"/>
            <wsdl:fault  name="InvalidMessageContentExpressionFault"
             message="wsntw:InvalidMessageContentExpressionFault"/>
            <wsdl:fault  name="UnacceptableInitialTerminationTimeFault"
             message="wsntw:UnacceptableInitialTerminationTimeFault"/>
            <wsdl:fault  name="UnrecognizedPolicyRequestFault"
             message="wsntw:UnrecognizedPolicyRequestFault"/>
            <wsdl:fault  name="UnsupportedPolicyRequestFault"
             message="wsntw:UnsupportedPolicyRequestFault"/>
            <wsdl:fault  name="NotifyMessageNotSupportedFault"
             message="wsntw:NotifyMessageNotSupportedFault"/>
            <wsdl:fault  name="SubscribeCreationFailedFault"
                      message="wsntw:SubscribeCreationFailedFault"/>
        </wsdl:operation>


        <wsdl:operation name="RxHubX12FormSubscribe">
            <wsdl:input  wsa:Action="http://docs.oasis-open.org/wsn/bw-2/NotificationProducer/RxHubX12FormSubscribeRequest"
			          message="wsntw:RxHubX12FormSubscribeRequest" />
            <wsdl:output wsa:Action="http://docs.oasis-open.org/wsn/bw-2/NotificationProducer/SubscribeResponse"
			          message="wsntw:SubscribeResponse" />
            <wsdl:fault  name="ResourceUnknownFault"
                      message="wsrf-rw:ResourceUnknownFault" />
            <wsdl:fault  name="InvalidFilterFault"
                   message="wsntw:InvalidFilterFault"/>
            <wsdl:fault  name="TopicExpressionDialectUnknownFault"
                   message="wsntw:TopicExpressionDialectUnknownFault"/>
            <wsdl:fault  name="InvalidTopicExpressionFault"
                      message="wsntw:InvalidTopicExpressionFault" />
            <wsdl:fault  name="TopicNotSupportedFault"
                      message="wsntw:TopicNotSupportedFault" />
            <wsdl:fault  name="InvalidProducerPropertiesExpressionFault"
             message="wsntw:InvalidProducerPropertiesExpressionFault"/>
            <wsdl:fault  name="InvalidMessageContentExpressionFault"
             message="wsntw:InvalidMessageContentExpressionFault"/>
            <wsdl:fault  name="UnacceptableInitialTerminationTimeFault"
             message="wsntw:UnacceptableInitialTerminationTimeFault"/>
            <wsdl:fault  name="UnrecognizedPolicyRequestFault"
             message="wsntw:UnrecognizedPolicyRequestFault"/>
            <wsdl:fault  name="UnsupportedPolicyRequestFault"
             message="wsntw:UnsupportedPolicyRequestFault"/>
            <wsdl:fault  name="NotifyMessageNotSupportedFault"
             message="wsntw:NotifyMessageNotSupportedFault"/>
            <wsdl:fault  name="SubscribeCreationFailedFault"
                      message="wsntw:SubscribeCreationFailedFault"/>
        </wsdl:operation>

        <wsdl:operation name="SSX12FormSubscribe">
            <wsdl:input  wsa:Action="http://docs.oasis-open.org/wsn/bw-2/NotificationProducer/SSX12FormSubscribeRequest"
			          message="wsntw:SSX12FormSubscribeRequest" />
            <wsdl:output wsa:Action="http://docs.oasis-open.org/wsn/bw-2/NotificationProducer/SubscribeResponse"
			          message="wsntw:SubscribeResponse" />
            <wsdl:fault  name="ResourceUnknownFault"
                      message="wsrf-rw:ResourceUnknownFault" />
            <wsdl:fault  name="InvalidFilterFault"
                   message="wsntw:InvalidFilterFault"/>
            <wsdl:fault  name="TopicExpressionDialectUnknownFault"
                   message="wsntw:TopicExpressionDialectUnknownFault"/>
            <wsdl:fault  name="InvalidTopicExpressionFault"
                      message="wsntw:InvalidTopicExpressionFault" />
            <wsdl:fault  name="TopicNotSupportedFault"
                      message="wsntw:TopicNotSupportedFault" />
            <wsdl:fault  name="InvalidProducerPropertiesExpressionFault"
             message="wsntw:InvalidProducerPropertiesExpressionFault"/>
            <wsdl:fault  name="InvalidMessageContentExpressionFault"
             message="wsntw:InvalidMessageContentExpressionFault"/>
            <wsdl:fault  name="UnacceptableInitialTerminationTimeFault"
             message="wsntw:UnacceptableInitialTerminationTimeFault"/>
            <wsdl:fault  name="UnrecognizedPolicyRequestFault"
             message="wsntw:UnrecognizedPolicyRequestFault"/>
            <wsdl:fault  name="UnsupportedPolicyRequestFault"
             message="wsntw:UnsupportedPolicyRequestFault"/>
            <wsdl:fault  name="NotifyMessageNotSupportedFault"
             message="wsntw:NotifyMessageNotSupportedFault"/>
            <wsdl:fault  name="SubscribeCreationFailedFault"
                      message="wsntw:SubscribeCreationFailedFault"/>
        </wsdl:operation>


    </wsdl:portType>



<!-- ========== SubscriptionManager PortType Definition =========== -->
    <wsdl:portType name="SubscriptionManager"
                  wsrf-rp:ResourceProperties="wsnt:SubscriptionManagerRP">

        <wsdl:operation name="Destroy">
            <wsdl:input wsa:Action="http://docs.oasis-open.org/wsrf/rlw-2/ImmediateResourceTermination/DestroyRequest"
			            name="DestroyRequest" message="wsrf-rlw:DestroyRequest" />
            <wsdl:output wsa:Action="http://docs.oasis-open.org/wsrf/rlw-2/ImmediateResourceTermination/DestroyResponse"
			             name="DestroyResponse" message="wsrf-rlw:DestroyResponse" />
            <wsdl:fault name="ResourceNotDestroyedFault" message="wsrf-rlw:ResourceNotDestroyedFault" />
            <wsdl:fault name="ResourceUnknownFault" message="wsrf-rw:ResourceUnknownFault" />
            <wsdl:fault name="ResourceUnavailableFault" message="wsrf-rw:ResourceUnavailableFault"/>
        </wsdl:operation>
        <wsdl:operation name="SetTerminationTime">
            <wsdl:input wsa:Action="http://docs.oasis-open.org/wsrf/rlw-2/ScheduledResourceTermination/SetTerminationTimeRequest"
			            name="SetTerminationTimeRequest" message="wsrf-rlw:SetTerminationTimeRequest" />
            <wsdl:output wsa:Action="http://docs.oasis-open.org/wsrf/rlw-2/ScheduledResourceTermination/SetTerminationTimeResponse"
			             name="SetTerminationTimeResponse" message="wsrf-rlw:SetTerminationTimeResponse" />
            <wsdl:fault name="UnableToSetTerminationTimeFault" message="wsrf-rlw:UnableToSetTerminationTimeFault" />
            <wsdl:fault name="ResourceUnknownFault" message="wsrf-rw:ResourceUnknownFault" />
            <wsdl:fault name="ResourceUnavailableFault" message="wsrf-rw:ResourceUnavailableFault"/>
            <wsdl:fault name="TerminationTimeChangeRejectedFault" message="wsrf-rlw:TerminationTimeChangeRejectedFault" />
        </wsdl:operation>
        <wsdl:operation name="GetResourcePropertyDocument">
            <wsdl:input wsa:Action="http://docs.oasis-open.org/wsrf/rpw-2/GetResourcePropertyDocument/GetResourcePropertyDocumentRequest"
			            name="GetResourcePropertyDocumentRequest" message="wsrf-rpw:GetResourcePropertyDocumentRequest"/>
            <wsdl:output wsa:Action="http://docs.oasis-open.org/wsrf/rpw-2/GetResourcePropertyDocument/GetResourcePropertyDocumentResponse"
			             name="GetResourcePropertyDocumentResponse" message="wsrf-rpw:GetResourcePropertyDocumentResponse"/>
            <wsdl:fault name="ResourceUnknownFault" message="wsrf-rw:ResourceUnknownFault"/>
            <wsdl:fault name="ResourceUnavailableFault" message="wsrf-rw:ResourceUnavailableFault"/>
        </wsdl:operation>
        <wsdl:operation name="GetResourceProperty">
            <wsdl:input wsa:Action="http://docs.oasis-open.org/wsrf/rpw-2/GetResourceProperty/GetResourcePropertyRequest"
			            name="GetResourcePropertyRequest" message="wsrf-rpw:GetResourcePropertyRequest" />
            <wsdl:output wsa:Action="http://docs.oasis-open.org/wsrf/rpw-2/GetResourceProperty/GetResourcePropertyResponse"
			             name="GetResourcePropertyResponse" message="wsrf-rpw:GetResourcePropertyResponse" />
            <wsdl:fault name="ResourceUnknownFault" message="wsrf-rw:ResourceUnknownFault"/>
            <wsdl:fault name="ResourceUnavailableFault" message="wsrf-rw:ResourceUnavailableFault"/>
            <wsdl:fault name="InvalidResourcePropertyQNameFault" message="wsrf-rpw:InvalidResourcePropertyQNameFault" />
        </wsdl:operation>
        <wsdl:operation name="GetMultipleResourceProperties">
            <wsdl:input wsa:Action="http://docs.oasis-open.org/wsrf/rpw-2/GetMultipleResourceProperties/GetMultipleResourcePropertiesRequest"
			            name="GetMultipleResourcePropertiesRequest" message="wsrf-rpw:GetMultipleResourcePropertiesRequest" />
            <wsdl:output wsa:Action="http://docs.oasis-open.org/wsrf/rpw-2/GetMultipleResourceProperties/GetMultipleResourcePropertiesResponse"
			             name="GetMultipleResourcePropertiesResponse" message="wsrf-rpw:GetMultipleResourcePropertiesResponse" />
            <wsdl:fault name="ResourceUnknownFault" message="wsrf-rw:ResourceUnknownFault"/>
            <wsdl:fault name="ResourceUnavailableFault" message="wsrf-rw:ResourceUnavailableFault"/>
            <wsdl:fault name="InvalidResourcePropertyQNameFault" message="wsrf-rpw:InvalidResourcePropertyQNameFault" />
        </wsdl:operation>

    </wsdl:portType>

<!-- ====== PausableSubscriptionManager PortType Definition ======= -->
    <wsdl:portType name="PausableSubscriptionManager">

      <!-- === PausableSubscriptionManager specific operations === -->
        <wsdl:operation name="PauseSubscription">
            <wsdl:input  message="wsntw:PauseSubscriptionRequest"/>
            <wsdl:output message="wsntw:PauseSubscriptionResponse"/>
            <wsdl:fault  name="ResourceUnknownFault"
                      message="wsrf-rw:ResourceUnknownFault" />
            <wsdl:fault  name="PauseFailedFault"
                      message="wsntw:PauseFailedFault" />
        </wsdl:operation>
        <wsdl:operation name="ResumeSubscription">
            <wsdl:input  message="wsntw:ResumeSubscriptionRequest"/>
            <wsdl:output message="wsntw:ResumeSubscriptionResponse"/>
            <wsdl:fault  name="ResourceUnknownFault"
                      message="wsrf-rw:ResourceUnknownFault" />
            <wsdl:fault  name="ResumeFailedFault"
                      message="wsntw:ResumeFailedFault" />
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="NotificationProducerBinding" type="wsntw:NotificationProducer">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
     

        <wsdl:operation name="OrchPDQSubscribe">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ResourceUnknownFault">
                <soap:fault use="literal" name="ResourceUnknownFault"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidFilterFault">
                <soap:fault use="literal" name="InvalidFilterFault"/>
            </wsdl:fault>
            <wsdl:fault name="TopicExpressionDialectUnknownFault">
                <soap:fault use="literal" name="TopicExpressionDialectUnknownFault"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidTopicExpressionFault">
                <soap:fault use="literal" name="InvalidTopicExpressionFault"/>
            </wsdl:fault>
            <wsdl:fault name="TopicNotSupportedFault">
                <soap:fault use="literal" name="TopicNotSupportedFault"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidProducerPropertiesExpressionFault">
                <soap:fault use="literal" name="InvalidProducerPropertiesExpressionFault"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidMessageContentExpressionFault">
                <soap:fault use="literal" name="InvalidMessageContentExpressionFault"/>
            </wsdl:fault>
            <wsdl:fault name="UnacceptableInitialTerminationTimeFault">
                <soap:fault use="literal" name="UnacceptableInitialTerminationTimeFault"/>
            </wsdl:fault>
            <wsdl:fault name="UnrecognizedPolicyRequestFault">
                <soap:fault use="literal" name="UnrecognizedPolicyRequestFault"/>
            </wsdl:fault>
            <wsdl:fault name="UnsupportedPolicyRequestFault">
                <soap:fault use="literal" name="UnsupportedPolicyRequestFault"/>
            </wsdl:fault>
            <wsdl:fault name="NotifyMessageNotSupportedFault">
                <soap:fault use="literal" name="NotifyMessageNotSupportedFault"/>
            </wsdl:fault>
            <wsdl:fault name="SubscribeCreationFailedFault">
                <soap:fault use="literal" name="SubscribeCreationFailedFault"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="OrchRegistrySubscribe">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ResourceUnknownFault">
                <soap:fault use="literal" name="ResourceUnknownFault"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidFilterFault">
                <soap:fault use="literal" name="InvalidFilterFault"/>
            </wsdl:fault>
            <wsdl:fault name="TopicExpressionDialectUnknownFault">
                <soap:fault use="literal" name="TopicExpressionDialectUnknownFault"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidTopicExpressionFault">
                <soap:fault use="literal" name="InvalidTopicExpressionFault"/>
            </wsdl:fault>
            <wsdl:fault name="TopicNotSupportedFault">
                <soap:fault use="literal" name="TopicNotSupportedFault"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidProducerPropertiesExpressionFault">
                <soap:fault use="literal" name="InvalidProducerPropertiesExpressionFault"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidMessageContentExpressionFault">
                <soap:fault use="literal" name="InvalidMessageContentExpressionFault"/>
            </wsdl:fault>
            <wsdl:fault name="UnacceptableInitialTerminationTimeFault">
                <soap:fault use="literal" name="UnacceptableInitialTerminationTimeFault"/>
            </wsdl:fault>
            <wsdl:fault name="UnrecognizedPolicyRequestFault">
                <soap:fault use="literal" name="UnrecognizedPolicyRequestFault"/>
            </wsdl:fault>
            <wsdl:fault name="UnsupportedPolicyRequestFault">
                <soap:fault use="literal" name="UnsupportedPolicyRequestFault"/>
            </wsdl:fault>
            <wsdl:fault name="NotifyMessageNotSupportedFault">
                <soap:fault use="literal" name="NotifyMessageNotSupportedFault"/>
            </wsdl:fault>
            <wsdl:fault name="SubscribeCreationFailedFault">
                <soap:fault use="literal" name="SubscribeCreationFailedFault"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="OrchReposSubscribe">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ResourceUnknownFault">
                <soap:fault use="literal" name="ResourceUnknownFault"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidFilterFault">
                <soap:fault use="literal" name="InvalidFilterFault"/>
            </wsdl:fault>
            <wsdl:fault name="TopicExpressionDialectUnknownFault">
                <soap:fault use="literal" name="TopicExpressionDialectUnknownFault"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidTopicExpressionFault">
                <soap:fault use="literal" name="InvalidTopicExpressionFault"/>
            </wsdl:fault>
            <wsdl:fault name="TopicNotSupportedFault">
                <soap:fault use="literal" name="TopicNotSupportedFault"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidProducerPropertiesExpressionFault">
                <soap:fault use="literal" name="InvalidProducerPropertiesExpressionFault"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidMessageContentExpressionFault">
                <soap:fault use="literal" name="InvalidMessageContentExpressionFault"/>
            </wsdl:fault>
            <wsdl:fault name="UnacceptableInitialTerminationTimeFault">
                <soap:fault use="literal" name="UnacceptableInitialTerminationTimeFault"/>
            </wsdl:fault>
            <wsdl:fault name="UnrecognizedPolicyRequestFault">
                <soap:fault use="literal" name="UnrecognizedPolicyRequestFault"/>
            </wsdl:fault>
            <wsdl:fault name="UnsupportedPolicyRequestFault">
                <soap:fault use="literal" name="UnsupportedPolicyRequestFault"/>
            </wsdl:fault>
            <wsdl:fault name="NotifyMessageNotSupportedFault">
                <soap:fault use="literal" name="NotifyMessageNotSupportedFault"/>
            </wsdl:fault>
            <wsdl:fault name="SubscribeCreationFailedFault">
                <soap:fault use="literal" name="SubscribeCreationFailedFault"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="OrchNCPDPHistSubscribe">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ResourceUnknownFault">
                <soap:fault use="literal" name="ResourceUnknownFault"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidFilterFault">
                <soap:fault use="literal" name="InvalidFilterFault"/>
            </wsdl:fault>
            <wsdl:fault name="TopicExpressionDialectUnknownFault">
                <soap:fault use="literal" name="TopicExpressionDialectUnknownFault"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidTopicExpressionFault">
                <soap:fault use="literal" name="InvalidTopicExpressionFault"/>
            </wsdl:fault>
            <wsdl:fault name="TopicNotSupportedFault">
                <soap:fault use="literal" name="TopicNotSupportedFault"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidProducerPropertiesExpressionFault">
                <soap:fault use="literal" name="InvalidProducerPropertiesExpressionFault"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidMessageContentExpressionFault">
                <soap:fault use="literal" name="InvalidMessageContentExpressionFault"/>
            </wsdl:fault>
            <wsdl:fault name="UnacceptableInitialTerminationTimeFault">
                <soap:fault use="literal" name="UnacceptableInitialTerminationTimeFault"/>
            </wsdl:fault>
            <wsdl:fault name="UnrecognizedPolicyRequestFault">
                <soap:fault use="literal" name="UnrecognizedPolicyRequestFault"/>
            </wsdl:fault>
            <wsdl:fault name="UnsupportedPolicyRequestFault">
                <soap:fault use="literal" name="UnsupportedPolicyRequestFault"/>
            </wsdl:fault>
            <wsdl:fault name="NotifyMessageNotSupportedFault">
                <soap:fault use="literal" name="NotifyMessageNotSupportedFault"/>
            </wsdl:fault>
            <wsdl:fault name="SubscribeCreationFailedFault">
                <soap:fault use="literal" name="SubscribeCreationFailedFault"/>
            </wsdl:fault>
        </wsdl:operation>

           <wsdl:operation name="OrchCCDHistSubscribe">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ResourceUnknownFault">
                <soap:fault use="literal" name="ResourceUnknownFault"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidFilterFault">
                <soap:fault use="literal" name="InvalidFilterFault"/>
            </wsdl:fault>
            <wsdl:fault name="TopicExpressionDialectUnknownFault">
                <soap:fault use="literal" name="TopicExpressionDialectUnknownFault"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidTopicExpressionFault">
                <soap:fault use="literal" name="InvalidTopicExpressionFault"/>
            </wsdl:fault>
            <wsdl:fault name="TopicNotSupportedFault">
                <soap:fault use="literal" name="TopicNotSupportedFault"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidProducerPropertiesExpressionFault">
                <soap:fault use="literal" name="InvalidProducerPropertiesExpressionFault"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidMessageContentExpressionFault">
                <soap:fault use="literal" name="InvalidMessageContentExpressionFault"/>
            </wsdl:fault>
            <wsdl:fault name="UnacceptableInitialTerminationTimeFault">
                <soap:fault use="literal" name="UnacceptableInitialTerminationTimeFault"/>
            </wsdl:fault>
            <wsdl:fault name="UnrecognizedPolicyRequestFault">
                <soap:fault use="literal" name="UnrecognizedPolicyRequestFault"/>
            </wsdl:fault>
            <wsdl:fault name="UnsupportedPolicyRequestFault">
                <soap:fault use="literal" name="UnsupportedPolicyRequestFault"/>
            </wsdl:fault>
            <wsdl:fault name="NotifyMessageNotSupportedFault">
                <soap:fault use="literal" name="NotifyMessageNotSupportedFault"/>
            </wsdl:fault>
            <wsdl:fault name="SubscribeCreationFailedFault">
                <soap:fault use="literal" name="SubscribeCreationFailedFault"/>
            </wsdl:fault>
        </wsdl:operation>

 <wsdl:operation name="MedNCPDPHistSubscribe">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ResourceUnknownFault">
                <soap:fault use="literal" name="ResourceUnknownFault"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidFilterFault">
                <soap:fault use="literal" name="InvalidFilterFault"/>
            </wsdl:fault>
            <wsdl:fault name="TopicExpressionDialectUnknownFault">
                <soap:fault use="literal" name="TopicExpressionDialectUnknownFault"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidTopicExpressionFault">
                <soap:fault use="literal" name="InvalidTopicExpressionFault"/>
            </wsdl:fault>
            <wsdl:fault name="TopicNotSupportedFault">
                <soap:fault use="literal" name="TopicNotSupportedFault"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidProducerPropertiesExpressionFault">
                <soap:fault use="literal" name="InvalidProducerPropertiesExpressionFault"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidMessageContentExpressionFault">
                <soap:fault use="literal" name="InvalidMessageContentExpressionFault"/>
            </wsdl:fault>
            <wsdl:fault name="UnacceptableInitialTerminationTimeFault">
                <soap:fault use="literal" name="UnacceptableInitialTerminationTimeFault"/>
            </wsdl:fault>
            <wsdl:fault name="UnrecognizedPolicyRequestFault">
                <soap:fault use="literal" name="UnrecognizedPolicyRequestFault"/>
            </wsdl:fault>
            <wsdl:fault name="UnsupportedPolicyRequestFault">
                <soap:fault use="literal" name="UnsupportedPolicyRequestFault"/>
            </wsdl:fault>
            <wsdl:fault name="NotifyMessageNotSupportedFault">
                <soap:fault use="literal" name="NotifyMessageNotSupportedFault"/>
            </wsdl:fault>
            <wsdl:fault name="SubscribeCreationFailedFault">
                <soap:fault use="literal" name="SubscribeCreationFailedFault"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="RxHubNCPDPHistSubscribe">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ResourceUnknownFault">
                <soap:fault use="literal" name="ResourceUnknownFault"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidFilterFault">
                <soap:fault use="literal" name="InvalidFilterFault"/>
            </wsdl:fault>
            <wsdl:fault name="TopicExpressionDialectUnknownFault">
                <soap:fault use="literal" name="TopicExpressionDialectUnknownFault"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidTopicExpressionFault">
                <soap:fault use="literal" name="InvalidTopicExpressionFault"/>
            </wsdl:fault>
            <wsdl:fault name="TopicNotSupportedFault">
                <soap:fault use="literal" name="TopicNotSupportedFault"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidProducerPropertiesExpressionFault">
                <soap:fault use="literal" name="InvalidProducerPropertiesExpressionFault"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidMessageContentExpressionFault">
                <soap:fault use="literal" name="InvalidMessageContentExpressionFault"/>
            </wsdl:fault>
            <wsdl:fault name="UnacceptableInitialTerminationTimeFault">
                <soap:fault use="literal" name="UnacceptableInitialTerminationTimeFault"/>
            </wsdl:fault>
            <wsdl:fault name="UnrecognizedPolicyRequestFault">
                <soap:fault use="literal" name="UnrecognizedPolicyRequestFault"/>
            </wsdl:fault>
            <wsdl:fault name="UnsupportedPolicyRequestFault">
                <soap:fault use="literal" name="UnsupportedPolicyRequestFault"/>
            </wsdl:fault>
            <wsdl:fault name="NotifyMessageNotSupportedFault">
                <soap:fault use="literal" name="NotifyMessageNotSupportedFault"/>
            </wsdl:fault>
            <wsdl:fault name="SubscribeCreationFailedFault">
                <soap:fault use="literal" name="SubscribeCreationFailedFault"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="SSNCPDPHistSubscribe">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ResourceUnknownFault">
                <soap:fault use="literal" name="ResourceUnknownFault"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidFilterFault">
                <soap:fault use="literal" name="InvalidFilterFault"/>
            </wsdl:fault>
            <wsdl:fault name="TopicExpressionDialectUnknownFault">
                <soap:fault use="literal" name="TopicExpressionDialectUnknownFault"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidTopicExpressionFault">
                <soap:fault use="literal" name="InvalidTopicExpressionFault"/>
            </wsdl:fault>
            <wsdl:fault name="TopicNotSupportedFault">
                <soap:fault use="literal" name="TopicNotSupportedFault"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidProducerPropertiesExpressionFault">
                <soap:fault use="literal" name="InvalidProducerPropertiesExpressionFault"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidMessageContentExpressionFault">
                <soap:fault use="literal" name="InvalidMessageContentExpressionFault"/>
            </wsdl:fault>
            <wsdl:fault name="UnacceptableInitialTerminationTimeFault">
                <soap:fault use="literal" name="UnacceptableInitialTerminationTimeFault"/>
            </wsdl:fault>
            <wsdl:fault name="UnrecognizedPolicyRequestFault">
                <soap:fault use="literal" name="UnrecognizedPolicyRequestFault"/>
            </wsdl:fault>
            <wsdl:fault name="UnsupportedPolicyRequestFault">
                <soap:fault use="literal" name="UnsupportedPolicyRequestFault"/>
            </wsdl:fault>
            <wsdl:fault name="NotifyMessageNotSupportedFault">
                <soap:fault use="literal" name="NotifyMessageNotSupportedFault"/>
            </wsdl:fault>
            <wsdl:fault name="SubscribeCreationFailedFault">
                <soap:fault use="literal" name="SubscribeCreationFailedFault"/>
            </wsdl:fault>
        </wsdl:operation>

       

        

        <wsdl:operation name="SSNCPDPERxSubscribe">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ResourceUnknownFault">
                <soap:fault use="literal" name="ResourceUnknownFault"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidFilterFault">
                <soap:fault use="literal" name="InvalidFilterFault"/>
            </wsdl:fault>
            <wsdl:fault name="TopicExpressionDialectUnknownFault">
                <soap:fault use="literal" name="TopicExpressionDialectUnknownFault"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidTopicExpressionFault">
                <soap:fault use="literal" name="InvalidTopicExpressionFault"/>
            </wsdl:fault>
            <wsdl:fault name="TopicNotSupportedFault">
                <soap:fault use="literal" name="TopicNotSupportedFault"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidProducerPropertiesExpressionFault">
                <soap:fault use="literal" name="InvalidProducerPropertiesExpressionFault"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidMessageContentExpressionFault">
                <soap:fault use="literal" name="InvalidMessageContentExpressionFault"/>
            </wsdl:fault>
            <wsdl:fault name="UnacceptableInitialTerminationTimeFault">
                <soap:fault use="literal" name="UnacceptableInitialTerminationTimeFault"/>
            </wsdl:fault>
            <wsdl:fault name="UnrecognizedPolicyRequestFault">
                <soap:fault use="literal" name="UnrecognizedPolicyRequestFault"/>
            </wsdl:fault>
            <wsdl:fault name="UnsupportedPolicyRequestFault">
                <soap:fault use="literal" name="UnsupportedPolicyRequestFault"/>
            </wsdl:fault>
            <wsdl:fault name="NotifyMessageNotSupportedFault">
                <soap:fault use="literal" name="NotifyMessageNotSupportedFault"/>
            </wsdl:fault>
            <wsdl:fault name="SubscribeCreationFailedFault">
                <soap:fault use="literal" name="SubscribeCreationFailedFault"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="OrchX12EligSubscribe">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ResourceUnknownFault">
                <soap:fault use="literal" name="ResourceUnknownFault"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidFilterFault">
                <soap:fault use="literal" name="InvalidFilterFault"/>
            </wsdl:fault>
            <wsdl:fault name="TopicExpressionDialectUnknownFault">
                <soap:fault use="literal" name="TopicExpressionDialectUnknownFault"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidTopicExpressionFault">
                <soap:fault use="literal" name="InvalidTopicExpressionFault"/>
            </wsdl:fault>
            <wsdl:fault name="TopicNotSupportedFault">
                <soap:fault use="literal" name="TopicNotSupportedFault"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidProducerPropertiesExpressionFault">
                <soap:fault use="literal" name="InvalidProducerPropertiesExpressionFault"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidMessageContentExpressionFault">
                <soap:fault use="literal" name="InvalidMessageContentExpressionFault"/>
            </wsdl:fault>
            <wsdl:fault name="UnacceptableInitialTerminationTimeFault">
                <soap:fault use="literal" name="UnacceptableInitialTerminationTimeFault"/>
            </wsdl:fault>
            <wsdl:fault name="UnrecognizedPolicyRequestFault">
                <soap:fault use="literal" name="UnrecognizedPolicyRequestFault"/>
            </wsdl:fault>
            <wsdl:fault name="UnsupportedPolicyRequestFault">
                <soap:fault use="literal" name="UnsupportedPolicyRequestFault"/>
            </wsdl:fault>
            <wsdl:fault name="NotifyMessageNotSupportedFault">
                <soap:fault use="literal" name="NotifyMessageNotSupportedFault"/>
            </wsdl:fault>
            <wsdl:fault name="SubscribeCreationFailedFault">
                <soap:fault use="literal" name="SubscribeCreationFailedFault"/>
            </wsdl:fault>
        </wsdl:operation>

         <wsdl:operation name="MedX12EligSubscribe">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ResourceUnknownFault">
                <soap:fault use="literal" name="ResourceUnknownFault"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidFilterFault">
                <soap:fault use="literal" name="InvalidFilterFault"/>
            </wsdl:fault>
            <wsdl:fault name="TopicExpressionDialectUnknownFault">
                <soap:fault use="literal" name="TopicExpressionDialectUnknownFault"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidTopicExpressionFault">
                <soap:fault use="literal" name="InvalidTopicExpressionFault"/>
            </wsdl:fault>
            <wsdl:fault name="TopicNotSupportedFault">
                <soap:fault use="literal" name="TopicNotSupportedFault"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidProducerPropertiesExpressionFault">
                <soap:fault use="literal" name="InvalidProducerPropertiesExpressionFault"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidMessageContentExpressionFault">
                <soap:fault use="literal" name="InvalidMessageContentExpressionFault"/>
            </wsdl:fault>
            <wsdl:fault name="UnacceptableInitialTerminationTimeFault">
                <soap:fault use="literal" name="UnacceptableInitialTerminationTimeFault"/>
            </wsdl:fault>
            <wsdl:fault name="UnrecognizedPolicyRequestFault">
                <soap:fault use="literal" name="UnrecognizedPolicyRequestFault"/>
            </wsdl:fault>
            <wsdl:fault name="UnsupportedPolicyRequestFault">
                <soap:fault use="literal" name="UnsupportedPolicyRequestFault"/>
            </wsdl:fault>
            <wsdl:fault name="NotifyMessageNotSupportedFault">
                <soap:fault use="literal" name="NotifyMessageNotSupportedFault"/>
            </wsdl:fault>
            <wsdl:fault name="SubscribeCreationFailedFault">
                <soap:fault use="literal" name="SubscribeCreationFailedFault"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="RxHubX12EligSubscribe">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ResourceUnknownFault">
                <soap:fault use="literal" name="ResourceUnknownFault"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidFilterFault">
                <soap:fault use="literal" name="InvalidFilterFault"/>
            </wsdl:fault>
            <wsdl:fault name="TopicExpressionDialectUnknownFault">
                <soap:fault use="literal" name="TopicExpressionDialectUnknownFault"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidTopicExpressionFault">
                <soap:fault use="literal" name="InvalidTopicExpressionFault"/>
            </wsdl:fault>
            <wsdl:fault name="TopicNotSupportedFault">
                <soap:fault use="literal" name="TopicNotSupportedFault"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidProducerPropertiesExpressionFault">
                <soap:fault use="literal" name="InvalidProducerPropertiesExpressionFault"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidMessageContentExpressionFault">
                <soap:fault use="literal" name="InvalidMessageContentExpressionFault"/>
            </wsdl:fault>
            <wsdl:fault name="UnacceptableInitialTerminationTimeFault">
                <soap:fault use="literal" name="UnacceptableInitialTerminationTimeFault"/>
            </wsdl:fault>
            <wsdl:fault name="UnrecognizedPolicyRequestFault">
                <soap:fault use="literal" name="UnrecognizedPolicyRequestFault"/>
            </wsdl:fault>
            <wsdl:fault name="UnsupportedPolicyRequestFault">
                <soap:fault use="literal" name="UnsupportedPolicyRequestFault"/>
            </wsdl:fault>
            <wsdl:fault name="NotifyMessageNotSupportedFault">
                <soap:fault use="literal" name="NotifyMessageNotSupportedFault"/>
            </wsdl:fault>
            <wsdl:fault name="SubscribeCreationFailedFault">
                <soap:fault use="literal" name="SubscribeCreationFailedFault"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="SSX12EligSubscribe">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ResourceUnknownFault">
                <soap:fault use="literal" name="ResourceUnknownFault"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidFilterFault">
                <soap:fault use="literal" name="InvalidFilterFault"/>
            </wsdl:fault>
            <wsdl:fault name="TopicExpressionDialectUnknownFault">
                <soap:fault use="literal" name="TopicExpressionDialectUnknownFault"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidTopicExpressionFault">
                <soap:fault use="literal" name="InvalidTopicExpressionFault"/>
            </wsdl:fault>
            <wsdl:fault name="TopicNotSupportedFault">
                <soap:fault use="literal" name="TopicNotSupportedFault"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidProducerPropertiesExpressionFault">
                <soap:fault use="literal" name="InvalidProducerPropertiesExpressionFault"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidMessageContentExpressionFault">
                <soap:fault use="literal" name="InvalidMessageContentExpressionFault"/>
            </wsdl:fault>
            <wsdl:fault name="UnacceptableInitialTerminationTimeFault">
                <soap:fault use="literal" name="UnacceptableInitialTerminationTimeFault"/>
            </wsdl:fault>
            <wsdl:fault name="UnrecognizedPolicyRequestFault">
                <soap:fault use="literal" name="UnrecognizedPolicyRequestFault"/>
            </wsdl:fault>
            <wsdl:fault name="UnsupportedPolicyRequestFault">
                <soap:fault use="literal" name="UnsupportedPolicyRequestFault"/>
            </wsdl:fault>
            <wsdl:fault name="NotifyMessageNotSupportedFault">
                <soap:fault use="literal" name="NotifyMessageNotSupportedFault"/>
            </wsdl:fault>
            <wsdl:fault name="SubscribeCreationFailedFault">
                <soap:fault use="literal" name="SubscribeCreationFailedFault"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="MedX12FormSubscribe">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ResourceUnknownFault">
                <soap:fault use="literal" name="ResourceUnknownFault"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidFilterFault">
                <soap:fault use="literal" name="InvalidFilterFault"/>
            </wsdl:fault>
            <wsdl:fault name="TopicExpressionDialectUnknownFault">
                <soap:fault use="literal" name="TopicExpressionDialectUnknownFault"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidTopicExpressionFault">
                <soap:fault use="literal" name="InvalidTopicExpressionFault"/>
            </wsdl:fault>
            <wsdl:fault name="TopicNotSupportedFault">
                <soap:fault use="literal" name="TopicNotSupportedFault"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidProducerPropertiesExpressionFault">
                <soap:fault use="literal" name="InvalidProducerPropertiesExpressionFault"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidMessageContentExpressionFault">
                <soap:fault use="literal" name="InvalidMessageContentExpressionFault"/>
            </wsdl:fault>
            <wsdl:fault name="UnacceptableInitialTerminationTimeFault">
                <soap:fault use="literal" name="UnacceptableInitialTerminationTimeFault"/>
            </wsdl:fault>
            <wsdl:fault name="UnrecognizedPolicyRequestFault">
                <soap:fault use="literal" name="UnrecognizedPolicyRequestFault"/>
            </wsdl:fault>
            <wsdl:fault name="UnsupportedPolicyRequestFault">
                <soap:fault use="literal" name="UnsupportedPolicyRequestFault"/>
            </wsdl:fault>
            <wsdl:fault name="NotifyMessageNotSupportedFault">
                <soap:fault use="literal" name="NotifyMessageNotSupportedFault"/>
            </wsdl:fault>
            <wsdl:fault name="SubscribeCreationFailedFault">
                <soap:fault use="literal" name="SubscribeCreationFailedFault"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="OrchX12FormSubscribe">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ResourceUnknownFault">
                <soap:fault use="literal" name="ResourceUnknownFault"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidFilterFault">
                <soap:fault use="literal" name="InvalidFilterFault"/>
            </wsdl:fault>
            <wsdl:fault name="TopicExpressionDialectUnknownFault">
                <soap:fault use="literal" name="TopicExpressionDialectUnknownFault"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidTopicExpressionFault">
                <soap:fault use="literal" name="InvalidTopicExpressionFault"/>
            </wsdl:fault>
            <wsdl:fault name="TopicNotSupportedFault">
                <soap:fault use="literal" name="TopicNotSupportedFault"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidProducerPropertiesExpressionFault">
                <soap:fault use="literal" name="InvalidProducerPropertiesExpressionFault"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidMessageContentExpressionFault">
                <soap:fault use="literal" name="InvalidMessageContentExpressionFault"/>
            </wsdl:fault>
            <wsdl:fault name="UnacceptableInitialTerminationTimeFault">
                <soap:fault use="literal" name="UnacceptableInitialTerminationTimeFault"/>
            </wsdl:fault>
            <wsdl:fault name="UnrecognizedPolicyRequestFault">
                <soap:fault use="literal" name="UnrecognizedPolicyRequestFault"/>
            </wsdl:fault>
            <wsdl:fault name="UnsupportedPolicyRequestFault">
                <soap:fault use="literal" name="UnsupportedPolicyRequestFault"/>
            </wsdl:fault>
            <wsdl:fault name="NotifyMessageNotSupportedFault">
                <soap:fault use="literal" name="NotifyMessageNotSupportedFault"/>
            </wsdl:fault>
            <wsdl:fault name="SubscribeCreationFailedFault">
                <soap:fault use="literal" name="SubscribeCreationFailedFault"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="RxHubX12FormSubscribe">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ResourceUnknownFault">
                <soap:fault use="literal" name="ResourceUnknownFault"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidFilterFault">
                <soap:fault use="literal" name="InvalidFilterFault"/>
            </wsdl:fault>
            <wsdl:fault name="TopicExpressionDialectUnknownFault">
                <soap:fault use="literal" name="TopicExpressionDialectUnknownFault"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidTopicExpressionFault">
                <soap:fault use="literal" name="InvalidTopicExpressionFault"/>
            </wsdl:fault>
            <wsdl:fault name="TopicNotSupportedFault">
                <soap:fault use="literal" name="TopicNotSupportedFault"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidProducerPropertiesExpressionFault">
                <soap:fault use="literal" name="InvalidProducerPropertiesExpressionFault"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidMessageContentExpressionFault">
                <soap:fault use="literal" name="InvalidMessageContentExpressionFault"/>
            </wsdl:fault>
            <wsdl:fault name="UnacceptableInitialTerminationTimeFault">
                <soap:fault use="literal" name="UnacceptableInitialTerminationTimeFault"/>
            </wsdl:fault>
            <wsdl:fault name="UnrecognizedPolicyRequestFault">
                <soap:fault use="literal" name="UnrecognizedPolicyRequestFault"/>
            </wsdl:fault>
            <wsdl:fault name="UnsupportedPolicyRequestFault">
                <soap:fault use="literal" name="UnsupportedPolicyRequestFault"/>
            </wsdl:fault>
            <wsdl:fault name="NotifyMessageNotSupportedFault">
                <soap:fault use="literal" name="NotifyMessageNotSupportedFault"/>
            </wsdl:fault>
            <wsdl:fault name="SubscribeCreationFailedFault">
                <soap:fault use="literal" name="SubscribeCreationFailedFault"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="SSX12FormSubscribe">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ResourceUnknownFault">
                <soap:fault use="literal" name="ResourceUnknownFault"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidFilterFault">
                <soap:fault use="literal" name="InvalidFilterFault"/>
            </wsdl:fault>
            <wsdl:fault name="TopicExpressionDialectUnknownFault">
                <soap:fault use="literal" name="TopicExpressionDialectUnknownFault"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidTopicExpressionFault">
                <soap:fault use="literal" name="InvalidTopicExpressionFault"/>
            </wsdl:fault>
            <wsdl:fault name="TopicNotSupportedFault">
                <soap:fault use="literal" name="TopicNotSupportedFault"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidProducerPropertiesExpressionFault">
                <soap:fault use="literal" name="InvalidProducerPropertiesExpressionFault"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidMessageContentExpressionFault">
                <soap:fault use="literal" name="InvalidMessageContentExpressionFault"/>
            </wsdl:fault>
            <wsdl:fault name="UnacceptableInitialTerminationTimeFault">
                <soap:fault use="literal" name="UnacceptableInitialTerminationTimeFault"/>
            </wsdl:fault>
            <wsdl:fault name="UnrecognizedPolicyRequestFault">
                <soap:fault use="literal" name="UnrecognizedPolicyRequestFault"/>
            </wsdl:fault>
            <wsdl:fault name="UnsupportedPolicyRequestFault">
                <soap:fault use="literal" name="UnsupportedPolicyRequestFault"/>
            </wsdl:fault>
            <wsdl:fault name="NotifyMessageNotSupportedFault">
                <soap:fault use="literal" name="NotifyMessageNotSupportedFault"/>
            </wsdl:fault>
            <wsdl:fault name="SubscribeCreationFailedFault">
                <soap:fault use="literal" name="SubscribeCreationFailedFault"/>
            </wsdl:fault>
        </wsdl:operation>
   
    </wsdl:binding>
    <wsdl:service name="NotificationProducer">
        <wsdl:port name="NotificationProducerBindingPort" binding="wsntw:NotificationProducerBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/NotificationProducer/NotificationProducerBindingPort"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
